page-new-redpack {
    .help-hint {
        font-size: 14px;
        color: rgb(161,161,161);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    .pin {
        background-color: rgb(238,186,61);
        color: white;
        font-size: 14px;
        padding:4px;
        margin-right: 2px;
    }

    .total-money {
        text-align: center;
        font-size: 28px;
        font-family: 'PingFang SC';
        // padding: 20px;
    }

    .error-message {
        font-size: 14px;
        color: color($colors, primary);
        text-align: center;
    }

    // 去除阴影效果
    .card-ios {
        box-shadow: none;
    }

    // 设置输入框placeholder的字体大小
    ion-input {
        ::placeholder {
            font-size: 15px !important; 
            padding-top: 2px;
        }
    }

}
