page-media-list {
    .media-data {
        ion-card {
            box-shadow: none;
            ion-card-content {
                // padding-top: 5px;
                padding-bottom: 0!important;
            }
        }
        ion-row {
            margin: 0;
            padding: 0;
            // text-align: center;
            button {
                color: #666;
            }
        }

        ion-col {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .custom-btn {
        font-size: 14px;
        color: #666;
        padding: 5px;
        &.active {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .school-btn {
        font-size: 14px;
        color: #666!important;
    }
}
