page-redpack-history {
    .user-info {
        text-align: center;
        background: color($colors, primary);
        padding: 20px;
        color: white;
        .avatar {
            max-width: 68px;
            border-radius: 50%;
        }
        .name {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 0;
        }

        .pin {
            background-color: rgb(238,186,61);
            color: white;
            font-size: 12px;
            padding:4px;
            margin-right: 4px;
        }

    }

    .hb-subject {
        text-align: center;
        font-size: 16px;
        color:white;
        padding: 15px;
        padding-bottom: 0;
        margin: 0;
        // margin-top: 15px;
    }

    .earnings {
        text-align: center;
        padding: 15px;
        .money {
            font-size: 28px;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .unit {
            font-size: 12px;
            color: #666;
        }

        .help-text {
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: #666;
            margin-top: 5px;
        }

        .qrcode-img {
            margin-top: 15px;
        }
    }

    .hb-summary {
        margin: 0;
        margin-top: 20px;
        padding: 15px;
        padding-bottom: 5px;
        font-size: 14px;
        color: #666;
    }
}
