<!--
  Generated template for the RedpackThemePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>选择红包模板</ion-title>
    <ion-buttons end>
      <button ion-button (click)="ok()">
        确定
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="theme_type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="common">
        通用
      </ion-segment-button>
      <ion-segment-button value="custom">
        自定义
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="theme_type != 'common'" class="themes-box">
    <ion-row>
      <ion-col col-3>
        <div class="sidebar">
          <div class="menu-item"
            (tap)="selectCatalog(i);" 
            [class.active]="selectedCatalogIndex === i" 
            *ngFor="let catalog of catalogs; let i = index;">
            {{catalog.name}}
          </div>
        </div>
      </ion-col>
      <ion-col col-9>
        <div class="main-content">
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let item of commonData;">
                <ion-card (tap)="selectItem(item);">
                    <img [src]="item.icon"/>
                    <div class="card-title">
                      {{item.name}}
                    </div>
                    <div class="selected" *ngIf="redpack.theme && redpack.theme.id === item.id">
                        <ion-icon name="ios-checkmark-outline"></ion-icon>
                    </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div [hidden]="theme_type != 'custom'" class="theme-custom">
    <!-- 即将上线... -->
    <button ion-button (click)="selectImage();">
      选择照片
    </button>
    <input type="file" (change)="selectedFiles($event)" 
      style="display: none" #fileInput >
  </div>
</ion-content>
