<!--
  Generated template for the RedpackConsumePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="white">
      <ion-segment [(ngModel)]="consume_type" (ionChange)="segmentChanged($event)" >
        <ion-segment-button value="confirmed">
          我抵扣别人的
        </ion-segment-button>
        <ion-segment-button value="confirming">
          别人抵扣我的
        </ion-segment-button>
      </ion-segment>
    </ion-navbar>

</ion-header>

<ion-content>
  <div class="consumes" *ngIf="!!consumeData">
    <h2 class="total-money">{{consumeData.total_money}} <span class="unit">元</span></h2>
    <div class="empty-error-box" *ngIf="!!errorMsg">
      {{errorMsg}}
    </div>
    <ion-list>
      <ion-item *ngFor="let item of consumeData.list">
        <ion-avatar item-left>
          <img [src]="item.user.avatar" />
        </ion-avatar>
        <h2>{{item.user.nickname}}</h2>
        <p>{{item.time}}</p>
        <ion-note item-right>{{item.money}}元</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
