page-redpack-consume {
    .total-money {
        font-size: 28px;
        color: #333;
        font-family: 'PingFang SC';
        text-align: center;

        .unit {
            font-size: 14px;
            color: #666;
        }
    }
}
