page-topic-list {
    .bar-items {
        padding-left: 10px;
    }

    .custom-btn {
        font-size: 14px;
        color: #666;
        padding: 5px;
        &.active {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .custom-item {
        [col-2] {
            max-width: 50px;
        }
    }

    .stats {
        ion-row, ion-col {
            margin: 0;
            padding: 0;
        }
        .liked {
            color: color($colors, primary);
        }
        button {
            color: #666;
        }

        .liked-user {
            width: 20px;
            height: 20px;
            // margin-top: 5px;
            border-radius: 50%;
        }
        .liked-tip {
            font-size: 12px;
            color: #999;
        }
    }

    .assets {
        .asset-image {
            width: 80px;
            height: 80px;
        }
    }

    .topic-body {
        .time {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 12px;
            font-size: #999;
        }
        .body {
            color: #333;
            font-size: 12px;
        }
    }

}
