<!--
  Generated template for the RedpackOwnerScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>红包确认消费结果</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="result-box" *ngIf="loaded">
    <img src="assets/imgs/icon_confirm_{{!!errorMsg ? 'error' : 'success'}}.png" class="icon"/>
    <p class="message" [class.success]="!errorMsg">
      {{errorMsg || '确认消费成功！'}}
    </p>
  </div>

  <div padding *ngIf="loaded">
    <button ion-button full (click)="goHome();">
      回首页
    </button>
  </div>
</ion-content>