<!--
  Generated template for the RedpackDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>RedpackDetail</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content>
  <div class="empty-error-box" *ngIf="errorMsg">
    <img src="assets/imgs/icon_error.png">
    <p>{{errorMsg}}</p>
  </div>

  <div class="body" *ngIf="!!redpackData">
    <div class="image-loader" *ngIf="!imgLoaded">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    
    <img [src]="redpackData.cover" class="cover" (load)="imgLoaded = true" />
    <ion-list [hidden]="!imgLoaded">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="redpackData.owner.avatar" />
        </ion-avatar>
        <h2>{{redpackData.owner.nickname}}</h2>
        <p>个人</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <div padding>
    <div class="input-sign-box" *ngIf="redpackData && redpackData.has_sign">
      <ion-input placeholder="输入口令" [(ngModel)]="answer"></ion-input>
      <p class="help-hint">注意：只有一次机会</p>
    </div>
    <button ion-button full (click)="commit();" [disabled]="!errorMsg && !imgLoaded && ( redpackData && redpackData.has_sign && !answer)">{{ !!errorMsg ? '回首页' : '拆红包' }}</button>
  </div>
  
</ion-footer>

